In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

### How many different companies are represented in the data set?

In [15]:
len(set(df['Company Name']))
#or 
len(pd.unique(df['Company Name']))

439

### What is the total number of jobs created for businesses in Queens?

In [27]:
df['City'] = df['City'].str.upper()
df['City']  = df['City'].replace('QUEENS VILLAGE', "QUEENS")
df['Job created']= df['Job created'].fillna(0)
sum(df[df['City']== "QUEENS"]['Job created'])

90.0

### How many different unique email domains names are there in the data set?

In [29]:
len(pd.unique(df['company email']))

421

### Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [99]:
df1 = df[df.groupby(['NTA'])['Company Name'].transform('count') > 4]
col_name = {'Total Savings':'Average Total Savings','Job created':'Total Jobs created'}
final_df = df1.groupby('NTA').agg({'Total Savings':'mean', 'Job created':'sum'}).rename(columns=col_name)

                                                  Average Total Savings  \
NTA
Battery Park City-Lower Manhattan                         469890.796667
Bushwick South                                             26140.455000
Carroll Gardens-Columbia Street-Red Hook                   24337.390000
College Point                                              17159.372857
Crown Heights North                                         4036.298889
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill           59950.340000
East New York                                              48433.093333
East Williamsburg                                          13990.626364
Greenpoint                                                  9753.649286
Hunters Point-Sunnyside-West Maspeth                       23931.398933
Hunts Point                                                39246.016154
Manhattanville                                              2760.888889
Maspeth                                                     6658.283333
Mott Haven-Port Morris                                     17843.937857
Queensbridge-Ravenswood-Long Island City                   61830.770625
SoHo-TriBeCa-Civic Center-Little Italy                     37214.024000
Springfield Gardens South-Brookville                       17757.662000
Steinway                                                   11227.155714
Sunset Park West                                           14316.976875
park-cemetery-etc-Brooklyn                                 14327.419333

                                                  Total Jobs created
NTA
Battery Park City-Lower Manhattan                                0.0
Bushwick South                                                  10.0
Carroll Gardens-Columbia Street-Red Hook                         0.0
College Point                                                    2.0
Crown Heights North                                              0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill                 0.0
East New York                                                   15.0
East Williamsburg                                                0.0
Greenpoint                                                       0.0
Hunters Point-Sunnyside-West Maspeth                             0.0
Hunts Point                                                     12.0
Manhattanville                                                   0.0
Maspeth                                                         10.0
Mott Haven-Port Morris                                          10.0
Queensbridge-Ravenswood-Long Island City                         0.0
SoHo-TriBeCa-Civic Center-Little Italy                           0.0
Springfield Gardens South-Brookville                             0.0
Steinway                                                        20.0
Sunset Park West                                                 0.0
park-cemetery-etc-Brooklyn                                       0.0

### Save your result for the previous question as a CSV file.

In [100]:
final_df.to_csv("NTA_Final_result.csv")